body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
 .navbar-bgg{
   background:linear-gradient(to bottom right, blue, rgb(57, 57, 197)) !important;
 }